.about_header {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-image: url("./images/bg_about.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav_header {
  padding: 7px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-items {
  align-items: center;
}

.about_content {
  flex: 1;
  width: 100%;
}

.about_content_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap-reverse;
}

.content_wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}

.about_text {
  margin-bottom: 60px;
}

.about_text > div:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.social_icons_wrapper {
  display: flex;
  flex-direction: row;
}

.social_icons_wrapper > div {
  margin-right: 28px;
}

.name {
  -webkit-text-fill-color: #e898c1;
  -webkit-text-stroke-color: #fe0861;
  -webkit-text-stroke-width: 3px;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about_main_text {
  font-size: 22px;
  line-height: 52px;
}

.img_wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.img_wrapper .btn-contact {
  position: absolute;
  bottom: 0;
  width: 75%;
  font-size: 28px;
  color: white;
  background: #e898c1;
  box-shadow: 5.94545px 7.92727px 7.92727px rgba(254, 8, 97, 0.13);
  border-radius: 100px;
  display: none;
  justify-content: center;
  padding: 20px 0;
  font-weight: bold;
  cursor: pointer;
}

.img_wrapper img {
  width: 75%;
}

footer {
  height: 90px;
  background: linear-gradient(
    89.87deg,
    #ebe2ff 1.28%,
    rgb(255, 255, 255) 101.76%
  ) !important;
}

.footer_wrapper {
  height: 100%;
  align-items: center;
}

.btn_mail {
  font-weight: bold;
  color: black;
  font-size: 22px;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: calc(90% - 20px) !important;
  }
}

@media (max-width: 991.98px) {
  .about_content_wrapper {
    flex-direction: column-reverse;
  }

  .img_wrapper {
    width: 100%;
    justify-content: center;
  }

  .img_wrapper img {
    max-width: 300px;
  }

  .img_wrapper .btn-contact {
    display: flex;
    width: 300px;
    bottom: -10px;
  }

  .social_icons_wrapper {
    justify-content: center;
  }
  footer {
    display: none;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .img_wrapper .btn-contact {
    font-size: 20px;
  }
  .about_text > div:nth-of-type(1) {
    font-size: 16px;
    margin-bottom: 19px;
  }
  .name {
    -webkit-text-stroke-width: 1px;
    font-size: 28px;
    margin-bottom: 19px;
  }
  .about_main_text {
    font-size: 16px;
    line-height: 33px;
  }
}
